# Node modules
node_modules/

# Hardhat build artifacts
artifacts/
cache/

# Hardhat config files
*.dbg.json

# Environment variables
.env

# VS Code settings
.vscode/



# Coverage reports
coverage/


# Yarn lock file
yarn.lock

# npm lock file
package-lock.json